@import "src/container/mixins";

.Footer {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  @include respond(small-tablets) {
    font-size: 80%;
  }
  @include respond(small-phone) {
    font-size: 70%;
  }

  &-left {
    display: flex;
    @include respond(small-tablets) {
      flex-direction: column;
      justify-content: center;
      & p {
        margin: 0;
      }
    }

    & p:last-child {
      margin-left: 36px;
      @include respond(small-tablets) {
        margin: 0;
      }
    }
  }

  &-right {
    @include respond(small-tablets) {
      width: 40%;
      display: flex;
      align-items: center;
    }
    @include respond(small-phone) {
      width: 55%;
    }
  }
}