@import "src/container/mixins";

.Layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  @include respond(big-tablets) {
    height: 100%;
  }

  &-header {
    background: #0067a3;
  }

  &-main {
    background: #0079bf;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
  }

  &-footer {
    background: #0067a3;
  }
}
